:root {
    --prim: #b6340c;
    --sec: #1a4106;
    --tert: #109aae;
    --textColor:  #a30527;
    --bgColor: #fedbc5;
    --headerFont: serif;
    --textFont:'Julius Sans One', sans-serif;
    --subheaderFont: 'Gowun Batang', serif;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: #fedbc5;
}

.home, .single {
    background-image: url("/css/media/cellar-background-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding: 20px 0;
}

.header-h1, h1, h2 {
    padding: 20px 0;
    color: var(--sec);
    font-family: var(--headerFont);
    text-align: center;
}

a, .nav-link {
    font-size: 24px;
    font-family: serif;
    font-weight: 800;
    color: var(--sec);
    text-decoration: none;
}

a:hover {
    color: var(--textColor);
}

.text {
    color: var(--textColor);
    font-family: var(--headerFont);
}

/* header */
.top-nav a {
    text-transform: uppercase;
}

.top-nav a:hover {
    color: var(--textColor);
}

/*wines page*/

.h1 {
    font-size: 84px;
}

.h2 {
    font-size: 72px;
}

.h3 {
    font-size: 56px;
}

.recipeDiv {
    border-bottom: 2px solid darkgoldenrod;
}

.home-image {
max-width: 8%;
}

.list-group-item, .figcaption {
    color: var(--tert);
    font-size:  24px;
    font-family: var(--subheaderFont);
    font-weight: 600;
}

.figure-single {
    padding-top: 110px;

}

.figcaption {
    color: var(--textColor);
    background-color: var(--bgColor);
}

.figcap-home {
    font-size: 20px;
}

.single-image {
justify-self: center;
margin-bottom: 20px;
}

.not-found-image {
    margin: 0 auto;
}

.footer {
    color: var(--textColor);
    font-family: var(--textFont);
    font-weight: 900;
}

